APP_NAME=WaveISP
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://YOUR-RAILWAY-DOMAIN.up.railway.app

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=YOUR_SUPABASE_POOLER_HOST
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres.YOUR_PROJECT_REF
DB_PASSWORD=YOUR_SUPABASE_DATABASE_PASSWORD
DB_SSLMODE=require

CACHE_STORE=file
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

PAYSTACK_PUBLIC_KEY=pk_live_or_test_key_here
PAYSTACK_SECRET_KEY=sk_live_or_test_key_here
PAYSTACK_CURRENCY=NGN

ROUTER_SYNC_MODE=agent
ROUTER_AGENT_POLL_SECONDS=30
RAILPACK_PHP_EXTENSIONS=sockets,pdo_pgsql
NIXPACKS_PHP_EXTENSIONS=sockets,pdo_pgsql
